body {
    margin: 0px;
    background-color: rgb(192, 102, 102);
}
header {
    width: 100%;
}
nav {
    background-color: rgb(0, 0, 0);
    display: inline-block;
}
p {
    color: white;
}
li {
    color: white;
}