body {
    padding: 0px;
    margin: 0px;
    background-color: white;
}
main {
    height: 25%;
    width: 100vh;
}
header {
    display: flex;
    width: 100vh;
    height: 3rem;
}
nav {
    background-color: rgb(0, 0, 0);
    display: inline-block;
    align-items: center;
}
